.header{
    width:105%;
    height:40%;
    left:-3%;
    position:absolute;
    background-image: linear-gradient(#e6ce82, #e2a953);
    border-top-left-radius:0px;
    border-top-right-radius:10px;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }

  .header-img {
    width: 100%;
    height: 400px;
    background: url('../assets/logoleon.png');
    position: absolute;
    background-repeat: no-repeat;
  }

  .size {
 font-size: 50px;
  }

  h1,h3 {

    position: absolute;
    text-align: center;
    width: 100%;
    font-family: garamound;

  }

  body {
 
    font-size: font-size-small;
    line-height: 1.5;
    background-color: #fff2e6;
    }
    
    
    
    /* LIST */
    dl {
    counter-reset: count;
    padding-left: 4vw; 
    padding-right: 4vw;
    margin: 0;
    padding-top: 3vw;
    padding-bottom: 3vw;
    }
    
    
    
    dt {
    color: #521f1f;
    font-family: base-font-family;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: bold;
    }
    
    dd {
    margin-left: 5vw;
    margin-bottom: 2vh;
    color: #474343;
    }

    img { 
width: 600px;
margin-left: auto;
margin-right: auto;
display: block;
    }
    
    button { 

      margin-left: auto;
      margin-right: auto;
      display: block;
    }
   
    body {
      font-family: 'Alegreya Sans', sans-serif;
  }
  
  /* Sticky footer position and size
  -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
  }
  .footer {
    position: absolute;
    margin-bottom: 0%;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    padding-bottom: 0%;
  }
  
  /* Taller footer on small screens */
  @media (max-width: 567em) {
      body {
        margin-bottom: 700px;
      }
      .footer {
        height: 700px;
      }
  }
  
  /* Sticky footer style and color
  -------------------------------------------------- */
  footer {
    padding-top: 30px;
    background-color: #441a12;
    color: #bbb;
    margin-left: 0%;
    margin-right: 100%;
  }
  
  footer a {
    color: #999;
    text-decoration:none;
  }
  
  footer a:hover, footer a:focus {
    color: #aaa;
    text-decoration:none;
    border-bottom:1px dotted #999;
  }
  
  footer .form-control {
      background-color: #eef2fa;
      border: none;
      resize: none;
      color: #d1d2d2;
      padding: 0.7em 1em;
  }

  h5 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
  }

  ul {
    color: #ffffff;
  }

  .imagen {
    float: right;
    max-width: auto;
    max-height: auto;
    margin-right: 15%;
  
  }

  
